<nav>
    <%= link_to('Artists', '/artists') %> |
    <%= link_to('Venues', '/venues') %>
    <div style="text-align: right; float:right">
        <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path) %>  
            <input type="hidden" id="userId" value="<%= current_user.id %>" />        
        <% else %>
            <%= link_to('Login', new_user_session_path)  %> |
            <%= link_to('Sign Up', new_user_registration_path)  %>  
        <% end %>
        <input type="hidden" id="auth" value="<%= user_signed_in? %>" /> 
    </div>
</nav>
